<div [ngStyle]="{backgroundImage:'url(./assets/Images/Landscape.jpg)'}">
<div align="center">
    <h1>Welcome to GREENGROCERS!!</h1><br>
</div>
<div class = "container">
    <p style="font-size: 20px;">
        GREENGROCERS is India’s leading online fruits and vegetables shopping app, trusted by 6 million+ happy customers and counting! Shop anytime, anywhere from farm-fresh fruits and vegetables.<br><br>
        <b>FEATURES AND SERVICES</b><br><br>
        <b>*</b> We have a full range of fresh and organic fruits and vegetables.<br>
        <b>* Enjoy low prices and great offers:</b> Buy at low prices with great offers.<br>
        <b>* Assured quality:</b> We source most of our fruits, vegetables and private label staples directly from farmers.<br>Our confidence in quality is the reason we have a “no-questions-asked” return policy.<br>
        <b>* On-time, every-time:</b> We take pride in timely delivery and if you get any of the products after the stipulated time.<br>
        <b>* Search in english:</b> Our app supports searching for items in common english language.<br>
        <b>*</b> We have you covered with our express delivery.<br>
        <b>* Easy search options:</b> Easily shop from your past purchases.<br>
        <b>We deliver in the following cities</b>: Hyderabad,Chennai<br><br><br><br><br><br>
    </p>
</div>  
</div>

