<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.btn {
  position: relative;
  width: 100%;
  top:100px;
  left:200px;
  max-width: 400px;
}

 .img {
  width: 1400px;
  height: 3000px;
}

.container .btn:hover {
  background-color: black;
}
</style>
</head>
<body bgcolor="black">
    <div style="width: 100%;">
    <div style="float:left; width:50%;margin-top: 115px;">
        <img src="./assets/Images/L_Image.jpg" style="width: 100%; height:500px;"><br><br>
    </div>
</div>
<div style="float:right; width:50%;">
    <div style="font-style: oblique; text-align: center; color:crimson"><br>
    <h1><b>Welcome to GreenGrocers!!</b></h1></div>
        <div class = "container">
            <p style="font-size: 20px; font-style: oblique;color: white;">
                <b>GREENGROCERS</b> is India’s leading online fruits and vegetables shopping app, trusted by 6 million+ happy customers and counting! Shop anytime, anywhere from farm-fresh fruits and vegetables.<br><br>
            </p>
            <a style="color: darkcyan; font-style: oblique;font-size: 20px;" >
                <b>FEATURES AND SERVICES</b><br><br>
            </a> 
            <p style="font-style: italic;font-size: 20px;color: white;">  
                <b>*</b> We have a full range of fresh and organic fruits and vegetables.<br>
                <b>* Enjoy low prices and great offers:</b> Buy at low prices with great offers.<br>
                <b>* Assured quality:</b> We source most of our fruits, vegetables and private label staples directly from farmers.<br>Our confidence in quality is the reason we have a “no-questions-asked” return policy.<br>
                <b>* On-time, every-time:</b> We take pride in timely delivery and if you get any of the products after the stipulated time.<br>
                <b>* Search in english:</b> Our app supports searching for items in common english language.<br>
                <b>*</b> We have you covered with our express delivery.<br>
                <b>* Easy search options:</b> Easily shop from your past purchases.<br>
                <b>We deliver in the following cities</b>: Hyderabad,Chennai<br>
                <b>Contact us: 8688047946</b>
            </p>
        </div>
</div>
</body>    

