<nav class="navbar navbar-expand-lg navbar-dark bg-success navbar-fixed-top" >
  <div class="container-fluid">
    <header>
      <div class="navbar navbar-dark bg-success">
          <div class="navbar-brand align-item-center d-flex">
              <i style="font-size: 40px;" class="fas fa-leaf">&nbsp;
              </i>
              <strong style="font-size: 30px;margin-top: 10px;">GreenGrocers</strong>
          </div> 
          <!-- <div class="navbar-brand align-item-center d-flex">
            <div class="form-group" style="margin-left: 800px;">
                <input type="text" class="form-control" [(ngModel)]="searchItem" (keyup)="search()" placeholder="search products">
            </div>&nbsp;
            <span class="fas fa-search search-icon"></span>
  
          </div> -->
          <div class="nav-item">
          <a routerLink="/cart">
            <i style="font-size: 30px;margin-left: 1060px;color:white;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge btn-danger">{{totalItem}}</div>
          </a>
        </div>
          <div class="nav-item">
            <a class="nav-link btn-success" style="color: white; font-size: 24px;margin-left: 10px;" routerLink = "/"> Logout </a>
          </div> 
      </div>       
    </header>  
  </div>
</nav>
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-success navbar-fixed-top" >
  <div class="container-fluid">
    <header>
      <div class="navbar navbar-dark bg-success">
          <div class="navbar-brand align-item-center d-flex">
              <i style="font-size: 40px;" class="fas fa-leaf">&nbsp;
              </i>
              <strong style="font-size: 30px;">GreenGrocers</strong>
          </div> 
          <a routerLink="/cart" class="btn btn-success" style="margin-right: -1050px;">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
          </a>
          <div class="nav-item">
            <a class="nav-link btn-success" style="color: white; font-size: 20px; margin-right: 20px;" routerLink = "/login"> Logout </a>
          </div>    
      </div>       
    </header>  
  </div>
</nav><br><br><br><br>           -->
    <!-- <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink = "/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
      </ul>
    </div>
    <div class="navbar navbar-dark bg-success">
      <div class="navbar-brand align-item-center d-flex">
          <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" placeholder="search products">
          </div>
          <span class="fas fa-search search-icon"></span>


      </div>
      <button routerLink="cart" class="btn btn-success">
          
                     <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
      </button>
  </div>
  </div> -->
