<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container-fluid">
    <header>
      <div class="navbar navbar-dark bg-success">
          <div class="navbar-brand align-item-center d-flex">
              <i style="font-size: 40px;" class="fas fa-leaf"></i>&nbsp;
              <strong style="font-size: 30px;">GreenGrocers</strong>
          </div>  
      </div>  
    </header>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <!-- <li class="nav-item">
          <a class="nav-link active" href="/home-page">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink = "/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor:pointer" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()">Logout</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="/display">Display</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
