<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.btn {
  position: relative;
  width: 100%;
  top:100px;
  left:200px;
  max-width: 400px;
}

 .img {
  width: 1400px;
  height: 3000px;
}

.container .btn:hover {
  background-color: black;
}
</style>
</head>
<body>
    <div style="width: 100%;">
    <div style="float:left; width:50%; margin-top: 0px;">
        <img src="./assets/Images/About_Image.jpeg" style="width: 1540px; height:700px;"><br><br>
    </div>
</div>
<div style="float:right; width:50%;">
    <br><br><br><br>
    <div style="font-style: oblique; text-align: center;">
        <br><br><br>
        <div class="row" style="text-align: left;">
            <div class="col-10 m-auto">
                <div class = "card m-auto shadow-sm" style="background-color:cornsilk">
                    <div class = "card-header" align="center" style="font-size: 30px;color: crimson;">
                        <b>GreenGrocers</b>
                    </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       
                    <div class = "card-body">
                        <form #loginForm='ngForm' (ngSubmit)="loginSubmit2(loginForm.value)">
                            <div class="form-group col-12">
                                <label style="font-size: 20px;color: darkmagenta;"><b>Email</b></label>
                                <input class = "form-control" required ngModel name="email">
                            </div><br>
                            <div class="form-group col-12">
                                <label style="font-size: 20px;color: darkmagenta;"><b>Password</b></label>
                                <input type="password" class = "form-control" required ngModel name="password">
                            </div><br>
                            <div class="form-group col-4" style="text-align: center;">
                                <button [disabled]="!loginForm.valid" type="submit" style="font-style: oblique;font-size: 20px;;margin-left: 250px;color: crimson;"><b>Login</b> </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a routerLink="/register" style="margin-left:-150px;">New User</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
