<body>
<div class="container">
<div class="center" style="color: green;">
    <br><br><br><br><br>
    <div style="margin-left: 550px;">
        <img src="./assets/Images/Order_success.png" height="200" width="200">
    </div><br><br>
    <h1 style="text-align: center;font-size: 30px;"><b>CONGRATULATIONS,YOUR ORDER HAS BEEN PLACED SUCCESSFULLY!!</b></h1><br>
    <div class="center" style="text-align: center;">
        <h2 style="font-size: 26px;text-align: center;"><b>Your delivery can be expected within 2-3 hrs.</b></h2>
        <h3 style="font-size: 23px;text-align: center;"><b>We provide a cash on delivery service!</b></h3>
    <h4 style="text-align: center;font-size: 22px;"><b>Please complete the payment on delivery!!</b></h4></div><br>
    <button routerLink="/home-page" class="btn btn-success" style="margin-left:600px;font-size: 20px;">Shop More</button><br><br><br><br><br><br><br><br><br><br>
</div>
</div>
</body>
