<body bgcolor="black">
    <br><button class="btn btn-success" routerLink="/cart" style="margin-left: 1300px;font-size: 20px;background-color: green;">Continue Ordering</button>
    <h1 style="font-size: 40px;color: darkmagenta;text-align: center;margin-top: 0px;"><b><span class="highlightme">ORDER IN A BETTER WAY!!</span></b></h1>&nbsp;&nbsp;
    <div style="float:left; width:50%;margin-top: 115px;">
        <img src="./assets/Images/apple.png" style="width: 150px; height:150px;margin-left: 300px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color:yellow;">
            <br><h1><b>APPLE</b></h1>
        </div>
            <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">->Apples are used to control diarrhea or constipation; and for the softening, passage, and collection of gallstones.<br> ->They are also used to prevent cancer, especially lung cancer.<br>-> Other uses include treating cancer, diabetes, dysentery, fever, heart problems, warts, and a vitamin C-deficiency condition called scurvy.<br>->Apples are an excellent fruit to include in your diet if you have diabetes.<br>->Apples can also help keep your blood pressure at healthy levels. </p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 90px;">
        <img src="./assets/Images/beetroot.png" style="width: 150px; height:150px;margin-left: 300px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;">
            <br><h1><b>BEETROOT</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align: justify;font-style: italic;">->Drinking one glass of beetroot juice daily is enough to significantly reduce blood pressure in people with hypertension.<br>->Consuming beets appears to be especially beneficial for people with diabetes.<br>->If you are allergic to beetroot, then do not eat it in any form.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 90px;">
        <img src="./assets/Images/Banana.png" style="width: 150px; height:150px;margin-left: 300px;margin-top: -20px;"><br><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;">
            <br><h1><b>BANANA</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align: justify;font-style: italic;">-> Bananas contain plenty of potassium, a mineral that plays a vital role in managing hypertension.<br>->Bananas are a safe and nutritious fruit for people with diabetes to eat in moderation as part of a balanced, individualized diet plan.<br>->Cooking bananas may deactivate the allergy-causing protein, which may make cooked bananas safe to eat.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 90px;">
        <img src="./assets/Images/brinjal.png" style="width: 150px; height:150px;margin-left: 300px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color:yellow ;">
            <br><h1><b>BRINJAL</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align: justify;font-style: italic;">-> Egg plants lowers the high blood pressure.<br>->The Egg palnt is said to be extremely effective in controlling type 2 diabetes.<br>->Avoid eating them if the allergy is severe or the IgE antibody levels are high.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 95px;">
        <img src="./assets/Images/Strawberry.jpg" style="width: 150px; height:150px;margin-left: -450px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;margin-top: -250px;">
            <br><h1><b>STRAWBERRY</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">-> Strawberry prevents hypertension and helps lower blood pressure. <br>->You can eat them without worrying about a blood sugar spike.<br>-> If you're allergic to strawberries, you'll have to avoid the fruit and possibly similar fruits to prevent an allergic reaction.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 60px;">
        <img src="./assets/Images/brocoli.png" style="width: 150px; height:150px;margin-left: 300px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;">
            <br><h1><b>BROCCOLI</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align: justify;font-style: italic;">->It is a good source of blood pressure regulating minerals.<br>->Broccoli is a diabetic friendly vegetable.<br>->If you're allergic to broccoli, you'll need to avoid eating broccoli.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 95px;">
        <img src="./assets/Images/cherries.png" style="width: 150px; height:150px;margin-left: -450px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;margin-top: -250px;">
            <br><h1><b>CHERRIES</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">->Cherries contain several nutrients that may help with blood pressure.<br>->If you are living with diabetes, cherries can be a healthy and tasty part of your diet.<br>->While not as common as other food allergies, it's still possible to be allergic to cherries.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 60px;">
        <img src="./assets/Images/cabbage.png" style="width: 150px; height:150px;margin-left: 300px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;">
            <br><h1><b>CABBAGE</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">->Eating more potassium-rich cabbage is a delicious way to lower high blood pressure.<br>->Cabbage is a diabetic friendly vegetable.<br>-> Allergic reactions to cabbage are rare, although possible. </p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 95px;">
        <img src="./assets/Images/pineapple.png" style="width: 150px; height:150px;margin-left: -450px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;margin-top: -250px;">
            <br><h1><b>PINEAPPLE</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">->The high presence of potassium in pineapple juice results in better blood pressure numbers.<br>->If you have diabetes, you can eat pineapple in moderation and as part of a healthy, balanced diet.<br>->If you have a pineapple allergy, you should avoid both canned and fresh pineapple.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 60px;">
        <img src="./assets/Images/capsicum.png" style="width: 150px; height:150px;margin-left: 300px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;">
            <br><h1><b>CAPSICUM</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">->Capsicum might increase blood pressure.<br>->The glycemic load of bell peppers is very low which makes it a safe option for diabetics to include in their menu.<br>->  You should be able to eat cooked green peppers without experiencing any issues. </p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 95px;">
        <img src="./assets/Images/kiwi.png" style="width: 150px; height:150px;margin-left: -450px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;margin-top: -250px;">
            <br><h1><b>KIWI</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">-> A daily serving of kiwi can reduce blood pressure in people with mildly elevated levels.<br>->It's a smart addition to your diabetes-friendly diet.<br>->If you react to raw kiwi, avoid the raw fruit.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 60px;">
        <img src="./assets/Images/carrot.png" style="width: 150px; height:150px;margin-left: 300px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;">
            <br><h1><b>CARROT</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align: justify;font-style: italic;">->Eating them raw may be more beneficial for reducing high blood pressure.<br>->Carrots can be a safe choice if you have diabetes and are watching your blood sugar levels.<br>->Carrots are also chock-full of potentially harmful allergens.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 95px;">
        <img src="./assets/Images/mangoes.png" style="width: 150px; height:150px;margin-left: -450px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;margin-top: -250px;">
            <br><h1><b>MANGOES</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">->Mangoes are a great source of both fiber and beta-carotene, both of which have been deemed effective at lowering blood pressure.<br>-> Mango can still be a healthy food choice for people trying to improve blood sugar control.<br>->If you have a mango allergy, you may be able to eat mangoes if you don't come into contact with the peel.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 60px;">
        <img src="./assets/Images/coriander.png" style="width: 150px; height:150px;margin-left: 300px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;">
            <br><h1><b>CORIANDER</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">->Coriander is an excellent remedy to manage high blood pressure.<br>->Coriander has a glycaemic value of 33, which is quite low and can be added in a diabetic diet.<br>->People with a cilantro allergy may be able to eat it.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 60px;">
        <img src="./assets/Images/orange.png" style="width: 150px; height:150px;margin-left: 300px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;">
            <br><h1><b>ORANGES</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">->Oranges may have powerful blood-pressure-lowering effects.<br>->If you have diabetes, eating oranges is good for your health.<br>->A person with a citrus allergy experiences a reaction when they come into contact with oranges.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 95px;">
        <img src="./assets/Images/corn.png" style="width: 150px; height:150px;margin-left: -450px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;margin-top: -250px;">
            <br><h1><b>CORN</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">->Corn lowers blood pressure.<br>->You can eat corn if you have diabetes.<br>->If you have a corn allergy, stay away from corn as much as possible.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 60px;">
        <img src="./assets/Images/pappaya.jpg" style="width: 150px; height:150px;margin-left: 300px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;">
            <br><h1><b>PAPAYA</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align: justify;font-style: italic;">->Papaya helps in decrease of high blood pressure.<br>->Papaya is safe to eat if you're living with diabetes.<br>->If you are allergic to latex, avoid eating papaya or eating food products that contain papaya.</p>
    </div><br><br>
    <div style="float:left; width:50%;margin-top: 95px;">
        <img src="./assets/Images/cucumber.png" style="width: 150px; height:150px;margin-left: -450px;margin-top: -20px;"><br><br>
    </div>
    <div style="float:right; width:50%;">
        <div class="container" style="text-align: center;color: yellow;margin-top: -250px;">
            <br><h1><b>CUCUMBER</b></h1>
        </div>
        <p class ="center" style="font-size: 20px;color: white;text-align:justify;font-style: italic;">->Cucumber lowers blood pressure.<br>->Cucumber may be a helpful addition to their diet to moderate blood sugar levels more effectively.<br>->Oral allergy syndrome and pruritis of the lips, tongue and throat have been reported contact with Cucumber may result in atopic dermatitis or contact urticaria.</p>
    </div>
    <br><br><br><br>
</body>
<br><br><br><br><br><br>
<div><br>
<h1 style="font-size: 35px;text-align: center;color: crimson;margin-top: 50px;"><b>THANKYOU FOR VISITING!</b></h1>
<br><br><br><br><br></div>
