.btn-group button {
    background-color: crimson; 
    border: 1px solid crimson;
    color: white;
    padding: 10px 24px; 
    cursor: pointer; 
    float: left;
  }
  .btn-group button:hover {
    background-color:mediumvioletred;
  }
